
    

 body {  background-color: #90C7E3;
         background-image:linear-gradient(#ffffff, #90C7E3);
         color: #666666;
         font-family: verdana,arial,sens-serif;
         background-repeat: no-repeat;}
          

#wrapper{background-color:#FFFFFF;
         width: 80%;
         margin-left: auto;
         margin-right:auto;
	 min-width: 960px;
	 max-width: 2048px;
	 box-shadow:5px 5px #333333;}
       
header {background-image: url("pacific/sunset.jpg");
        background-position:right;
        background-color: #002171;
        color: #FFFFFF; font-family: georgia;
	background-repeat: no-repeat;
	text-align: center;
        height: 72px;
	padding-top: 15px; }
		
nav { font-weight:bold;
     padding-top: .5em;
     padding-bottom: .5em;
     padding-bottom: .5em;
     text-align: center;}
	 
nav a {text-decoration: none;}
		 
	  h1  {text-align:center;
	      padding-bottom: .5em;}
	  h2  {color: #1976D2;
      	  font-family: georgia}
	  h3  {font-family:georgia;}

	  dt {color:#002171;font-weight:bold;}
	  
	 .Resort{color:#1976D2; font-size:1.2em;}
	 
	 #con {margin-left:auto;
        	 margin-right:auto;
			 width:80%}
	 
main  {padding-right: 2em;
       padding-left: 2em;
       display:block;}
	 

  footer {font-size: .70em;
           font-style: italic;
		   padding:1em;}


#homehero {height:300px;
	    background-image:url("pacific/coast.jpg");
	    background-repeat:no-repeat;
            background-size:100% 100%;}
		  
		  
#yurthero{height:300px;
	  background-image:url("pacific/yurt.jpg");
	  background-repeat:no-repeat;
          background-size:100% 100%;}
	      
		  
#trailhero{height:300px;
	  background-image:url("pacific/trail.jpg");
	  background-repeat:no-repeat;
          background-size:100% 100%;}  
 